*{
	box-sizing: border-box;
}
html{
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}
.App{
  display: block;
  margin: auto;
  width: 400px;
  /* border: 1px solid blueviolet; */
}

h3{
  margin-bottom: 5px;
}
h2{
  
  text-align: center;
}

p{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
  padding: 0;
}



.container1{
  /* border: 1px solid yellow; */
  
}
/* ************* balance Component styles********** */


.balance{
  /* border: 1px solid red; */
  margin-bottom: 20px;
  
}
.balword{
  font-size: 18px;
  font-weight: 400;
}

.balnum{
  font-size: 24px;
  font-weight: 600;
}


.con1box{
  background-color: white;
  /* box-shadow: ; */
  height: 100px;
  margin-bottom: 50px;
}

.income{
  width: 49.8%;
  display: inline-block;
  border: 1px solid transparent;
  height: 100%;
  float: left;
  text-align: center;
  padding-top: 30px;
}
.vertline{
  background-color: grey;
  display: inline-block;
  float: left;
  height: 80px;
  width: 1px;
  margin-top: 10px;
  
}

.expense{
  height: 100%;
  width: 49.8%;
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  padding-top: 30px;
  
}

.inword{
  font-weight: 600;
  margin-bottom: 5px;
}

.innum, .expnum{
  font-weight: 600;
}

.innum{
  color: rgb(53, 243, 53);
}

.expnum{
  color: red;
}



/* ************* History Tran Component styles********** */

.historycon{
  /* border: 1px solid salmon; */
}

.tranhistory{
  /* border: 1px solid green; */
  
  
  
}

.plusmoney{
  /* border: 1px solid peru; */
  height: 40px;
  background-color: rgb(53, 243, 53);
  margin-bottom: 10px;
  position: relative;
}

.minusmoney{
   /* border: 1px solid peru; */
   height: 40px;
   background-color: red;
   margin-bottom: 10px;
   position: relative;
}

.money{
  /* border: 1px solid peru; */
  height: 40px;
  width: 90%;
  background-color: white;
  width: 98%;
  padding: 10px;
  position: relative;
  
}

.mword{
  position: absolute;
  right: 10px;
}



.xbtn {
  font-weight: 600;
  color: white;
  background-color: red;
  position: absolute;
  left: 0;
  margin-left:-20px;
  border: none;
  cursor: pointer;
}



/* ************* Add Tran Component styles********** */

label{
  display:block;
  margin: 15px 0 0;
  font-weight: 600;
}

input[type=text]{
  width: 100%;
  height: 40px;
  padding: 10px;
  margin: 10px 0 ;
  border: none
}



.Addbtn{
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin: 10px 0 ;
  border: none;
  background-color: blue;
  color: white;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
